Single Number
From: https://leetcode.com/submissions/detail/21648946/

Given an array of integers, every element appears twice except for one. Find that single one.
Note:
Your algorithm should have a linear runtime complexity. Could you implement it without using extra memory?